<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Open_App</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.amwal.JustPassMeExample.ios</string>
			</array>
		</dict>
	</array>
	<key>FirebaseOpenAppQueryItemEmailName</key>
	<string>email</string>
	<key>FirebaseOpenAppScheme</key>
	<string>https</string>
	<key>FirebaseOpenAppURIPrefix</key>
	<string>justpassmeexample.page.link</string>
</dict>
</plist>
